<table id="table-players" class="table table-hover">
    <thead>
        <tr>
            {% for key,value in playerFields %}
            <th scope="col">{{ knp_pagination_sortable(players, value, key) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for player in players %}
        <tr>
            <td><a href="{{ path('player_viewer',{'name':player.name}) }}"> {{ player.name }}</a></td>
            <td><a href="{{ path('player_viewer',{'name':player.name}) }}"> {{ player.galacticalPuissance | number_format('0',',',' ') }}</a></td>
            <td><a href="{{ path('player_viewer',{'name':player.name}) }}"> {{ player.charactersGalacticalPuissance | number_format('0',',',' ') }}</a></td>
            <td><a href="{{ path('player_viewer',{'name':player.name}) }}"> {{ player.shipsGalacticalPuissance | number_format('0',',',' ') }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(players) }}