{% extends 'base.html.twig' %}

{% block title %}Crontabium - joueurs{% endblock %}
{% block body %}
<h1 class="title">Informations générales concernant les joueurs de la guilde {{ guild.name }}</h1>
<br/>
<div class="content">
    {% if players | length > 0 %}
    <div class="numbers-players">
        <div class="big-number">
            <img src="{{ asset('build/images/people.png') }}" class="img-big-number">
            <br/>{{ guild.members }} joueur(s)
        </div>
        <div class="big-number">
            <img src="{{ asset('build/images/blaster.png') }}">
            <p> {{ guildNumberHeroes }} héro(s) </p> <small>(Puissance galactique de tous les héros réunis : {{ guildHeroesGp | number_format('0',',',' ') }})</small> </p>
        </div>
        <div class="big-number">
            <img src="{{ asset('build/images/spaceship.png') }}">
            <p> {{ guildNumberShips }} vaisseaux </p> <small>(Puissance galactique de tous les vaisseaux réunis : {{ guildShipsGp | number_format('0',',',' ') }})</small> </p>
        </div>
        <br/>
        <br/>
    </div>
    <div class="list-players">
        <h2 class="h2"> Informations concernant les joueurs </h2>
        {% include 'player/array.html.twig' with {'players':players,'playerFields':playerFields} %}
    </div>
    {% else %}
    <div>
        <p> Les membres de la guilde {{ guild.name }} ne possédent pas de compte swgoh.gg. Veuillez demander aux membres de s'inscrire sur le site et ensuite exécutez la synchronisation des datas </p>
    </div>
    {% endif %}
</div>
{% endblock %}