{% extends 'base.html.twig' %}

{% block title %}{{player.name}}{% endblock %}
{% block body %}
<h1 class="title"> Informations générales concernant le joueur {{ player.name }} : </h1>
<br/>
<div class="content">
    <div class="numbers-players">
        <div class="big-number">
            <img src="{{ asset('build/images/power.jpg') }}">
            <p> {{ player.galacticalPuissance | number_format('0',',',' ') }} puissance galactique  </p>
        </div>
        <div class="big-number">
            <img src="{{ asset('build/images/blaster.png') }}">
            <p> {{ player.characters | length }} héro(s) </p> <small>(Puissance galactique de tout ses héros : {{ player.charactersGalacticalPuissance | number_format('0',',',' ') }})</small> </p>
        </div>
        <div class="big-number">
            <img src="{{ asset('build/images/spaceship.png') }}">
            <p> {{ player.ships | length }} vaisseaux </p> <small>(Puissance galactique de tout ses vaisseaux : {{ player.shipsGalacticalPuissance | number_format('0',',',' ') }})</small> </p>
        </div>
        <br/>
        <br/>
    </div>
    {% if playerHeroes is defined %}
    <div class="list-heroes">
        <h2 class="h2"> {{ player.name }} Héro(s) </h2>
        <table id="table-heroes" class="table table-hover">
            <thead>
                <tr>
                {% for key,value in heroesFields %}
                    <th scope="col">{{ knp_pagination_sortable(playerHeroes, value, key) }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for playerHero in playerHeroes %}
                <tr>
                    <td>{{ playerHero.hero.name }}</td>
                    <td>{{ playerHero.numberStars }}</td>
                    <td>{{ playerHero.level }}</td>
                    <td>{{ playerHero.gearLevel }}</td>
                    <td>{{ playerHero.relicLevel }}</td>
                    <td>{{ playerHero.galacticalPuissance }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if playerShips is defined %}
    <div class="list-ships">
        <h2 class="h2"> {{ player.name }} Vaisseaux </h2>
        <table id="table-ships" class="table table-hover">
            <thead>
                <tr>
                {% for key,value in siphsFields %}
                    <th scope="col">{{ knp_pagination_sortable(playerShips, value, key) }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for playerShip in playerShips %}
                <tr>
                    <td>{{ playerShip.ship.name }}</td>
                    <td>{{ playerShip.numberStars }}</td>
                    <td>{{ playerShip.level }}</td>
                    <td>{{ playerShip.galacticalPuissance }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}