{% extends 'base.anonymous.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
    {{ parent() }}
    <div class="content">
        <div class = "header">
            <img src="{{ asset('build/images/Logo-jedi-order.png') }}" class="image-header">
            <span class="title"> Crontabium </span>
        </div>
        <div class="login">
            {% if error %}
            <div class="alert alert-dismissible alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                <label for="username">Nom d'utilisateur</label><br/>
                    <input required name="username" type="text" value="{{ last_username }}" class="form-control input-form">
                </div>
                <div class="form-group">
                <label for="password">Mot de passe</label><br/>
                    <input required name="password" type="password" class="form-control input-form">
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Valider" id="submit-login" class="btn btn-primary">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <p class="create-account"> Vous n'avez pas de compte ? Cliquez <a href="{{ path('user_demand_access') }}">ici</a> pour faire une demande de compte </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
