{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<h1 class="title"> There is some general informations about your guild : {{guild.name}} </h1>
<br/>
<div class="content">
    <div class="numbers">
        <div class="big-number">
            <img src="">
            <p> Number of players : </p>
            <p> {{ guild.members }}
        </div>
        <div class="big-number">
            <img src="">
            <p> Number of Swgoh.gg profil </p>
            <p> {{ players | length }} </p>
        </div>
        <div class="big-number">
            <img src="">
            <p> Galactical power : </p>
            <p> {{ guild.galacticalPuissance }} </p>
        </div>
        <div class="big-number">
            <img src="">
            <p> Heroes Galactical Power : </p>
            <p> {{ guildHeroesGp}}
        </div>
        <div class="big-number">
            <img src="">
            <p> Ships Galactical Power : </p>
            <p> {{ guildShipsGp }} </p>
        </div>
    </div>
    <div class="list-players">
    <table>
        <thead>
            <tr>
                <td> Name </td>
                <td> Galactical Power </td>
                <td> Heroes Galactical Power </td>
                <td> Ships Galactical Power </td>
            </tr>
        </thead>
        {% for player in players %}
        <tr>
            <td> {{ player.name }} </td>
            <td> {{ player.galacticalPuissance }} </td>
            <td> {{ player.charactersGalacticalPuissance}} </td>
            <td> {{ player.shipsGalacticalPuissance }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
