<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('login') }}
            <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-dismissible alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-dismissible alert-info" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="alert alert-dismissible alert-warning" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-dismissible alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
